html { 
  background: url(1.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:0;
  margin:0;
}   
/* Set a style for all buttons */
button {
    background-color: #E68619;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 100%;
}
.masuk{
    width:4%;
	position: relative;
	margin-left: 70%;
    top:2vw;
    cursor: pointer;
    color: white;
    box-sizing: border-box;
}
.logo img{
    position: absolute;
    width: 60px;
}
.tulislogo img{
    position: absolute;
    width: 100px;
    transform: translate(-20px,15px);
}
.bantuan{
    width: 5%;
    position: relative;
    left: 76%;
    bottom: 0.5vw;  
    
}
.daftar button{
    
    position: relative;
    border-radius: 10px;
    margin-left: 83%;
    font-size: 1vw;
    width: 10%;
    bottom: 3vw;
}
.p1{
    position: relative;
    color:white;
    font-size: 25px;
    font font-family: cursive;
    margin-left: 5%;
    top:14vw;
}
.satu{
    color:white;
}
.dua{
    color: white;
    margin-top: -1%;
}
.k1{
    width: 50%;
    position: relative;
    margin-left: 5.5%;
    margin-top: 14%;
}
.pencarian{
    position: absolute;
    top: 90%;
    left:5%;
    width: 80%;


}
.kotak1{
    position: absolute;
    width: 30%;
    padding: 14px;
    border-radius: 9px;
    box-sizing: border-box;
    border:none;
    font-size: 1.5vw;
    color:grey;
    background-color: white;
    font-family:serif;

}
.kotak2 {
    position: absolute;
    width: 30%;
    padding: 14px;
    border-radius: 9px;
    box-sizing: border-box;
    border:none;
    left: 25vw;
    font-size:1.5vw;
    color:grey;
    font-family:serif;
}
.kotak3 {
    position: absolute;
    width: 10%;
    left: 50vw;
    padding: 15px;
    border-radius: 9px;
    box-sizing: border-box;
    border:none;
    background-color:#E68619;
    color:white;
    margin-top:1px;
    font-size: 1.5vw;
    font-family:serif;  
}
a{
    text-decoration:none;
    color: white;
}
button:hover {
    opacity: 0.8;
}
/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.login1{
    width: 30%;
}
.container {
    padding: 16px;
}
span.psw {
    float: right;
    padding-top: 16px;
}
/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
/* untuk rentang dan batalkan tombol pada layar ekstra kecil*/
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
.iconukuran{
	width: 30px;
	height: 30px;
}
